@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(14, 13, 13);
}

img {
	max-width: none !important;
	min-height: none !important;
}

.row::-webkit-scrollbar {
	display: none;
	border-radius: 10px;
	height: 10px;
	margin-block: 50px;
}

.row::-webkit-scrollbar-thumb {
	background-color: #2e2e2e;
	border-radius: 10px;
	margin-block: 50px;
}

.row::-webkit-scrollbar-track {
	border-radius: 10px;
}
header {
	font-family: "Bebas Neue", cursive;
}
