@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(14, 13, 13);
	min-height: 100vh;
}

img {
	max-width: none !important;
	min-height: none !important;
}

.row::-webkit-scrollbar {
	display: none;
	border-radius: 10px;
	height: 10px;
	margin-block: 50px;
}

.row::-webkit-scrollbar-thumb {
	background-color: #2e2e2e;
	border-radius: 10px;
	margin-block: 50px;
}

.row::-webkit-scrollbar-track {
	border-radius: 10px;
}
header {
	font-family: "Bebas Neue", cursive;
}

header ul {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

i {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
}

@keyframes skeleton {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.7;
	}

	100% {
		opacity: 1;
	}
}

.skeleton {
	animation: 1s skeleton infinite linear;
}
